@model ContatoModel
@{
    ViewData["Title"] = "Confirmar deleção de Contato";
}

<div class="text-center">
    <h1 class="display-4">Deseja realmente apagar @Model.Nome?</h1>
</div>

<a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar" asp-route-Id="@Model.Id">Confirmar exclusão</a>

